[Unit]
Description=Reconcile Nexigon application configuration
After=network-online.target nexigon-agent.service
Wants=network-online.target

[Service]
Type=oneshot
StateDirectory=nexigon/rugix-apps
ExecStart=/usr/libexec/nexigon/nexigon-rugix-apps-reconcile
